@{
    ViewBag.Title = "Carona Solidaria UTP";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                CarPooling 
            </p>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
        <h5>Carona Solidaria</h5>
        Esse o site e para você que precisa de carona , aonde seu parceiro tiver
        você vai pegar carona com ele é solicitar que ele vai te buscar
        
    </li>

   
   
</ol>
